	
	
	view, swiper, swiper-item {
		box-sizing: border-box;
	}
	
	.pageBg {
		height: 80vh;
		background: 
		linear-gradient(to bottom, transparent , #ffffff 400rpx), // 400rpx 以下就是白色
		linear-gradient(to right, #beecd8 20%, #f4e2d8);
	}
	
	.flex {
		display: flex;
	}
	
	.jcc {
		justify-content: center;
	}
	
	.aic {
		align-items: center;
	}
	
	.bbox {
		box-sizing: border-box;
	}
	.lodingLayout {
		padding: 30rpx 0;
	}
	.safe-area-inset-bottom { // 底部安全区高度
		height: env(safe-area-inset-bottom)
	}
	